.card {
    margin: 10px !important;
    height: 400px;
}
.card:hover{
    background-color: #f2efef !important;
}
.cardImage{
    background: transparent !important;
}
.cardHeader{
    font-size: 1em !important;
}